USE [master]
GO
/****** Object:  Database [EXTERNAS_LBD]    Script Date: 09/03/2020 11:48:58 p. m. ******/
CREATE DATABASE [EXTERNAS_LBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXTERNAS_LBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EXTERNAS_LBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EXTERNAS_LBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EXTERNAS_LBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXTERNAS_LBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXTERNAS_LBD]
GO
/****** Object:  Table [dbo].[Tabla1]    Script Date: 09/03/2020 11:48:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla1](
	[casa_id] [uniqueidentifier] NOT NULL,
	[color] [varchar](50) NOT NULL,
	[numDecasa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[casa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla2]    Script Date: 09/03/2020 11:49:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla2](
	[computadora] [uniqueidentifier] NOT NULL,
	[sistemaO] [varchar](50) NOT NULL,
	[mac_address] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[computadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla3]    Script Date: 09/03/2020 11:49:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla3](
	[perro] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[raza] [varchar](50) NOT NULL,
	[animal]  AS (([nombre]+'')+[raza]),
PRIMARY KEY CLUSTERED 
(
	[perro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla4]    Script Date: 09/03/2020 11:49:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla4](
	[calle] [varchar](50) NOT NULL,
	[numero] [uniqueidentifier] NOT NULL,
	[municipio] [varchar](50) NOT NULL,
	[direccion]  AS (([calle]+'')+[municipio]),
PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla5]    Script Date: 09/03/2020 11:49:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla5](
	[artista] [varchar](50) NOT NULL,
	[cancion] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[album] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [indx_numDecasa]    Script Date: 09/03/2020 11:49:01 p. m. ******/
CREATE NONCLUSTERED INDEX [indx_numDecasa] ON [dbo].[Tabla1]
(
	[numDecasa] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indx_mac_address]    Script Date: 09/03/2020 11:49:01 p. m. ******/
CREATE NONCLUSTERED INDEX [indx_mac_address] ON [dbo].[Tabla2]
(
	[mac_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabla1]  WITH CHECK ADD  CONSTRAINT [fk_Tabla1] FOREIGN KEY([casa_id])
REFERENCES [dbo].[Tabla3] ([perro])
GO
ALTER TABLE [dbo].[Tabla1] CHECK CONSTRAINT [fk_Tabla1]
GO
ALTER TABLE [dbo].[Tabla2]  WITH CHECK ADD  CONSTRAINT [fk_Tabla2] FOREIGN KEY([computadora])
REFERENCES [dbo].[Tabla4] ([numero])
GO
ALTER TABLE [dbo].[Tabla2] CHECK CONSTRAINT [fk_Tabla2]
GO
ALTER TABLE [dbo].[Tabla3]  WITH CHECK ADD  CONSTRAINT [fk_Tabla3] FOREIGN KEY([perro])
REFERENCES [dbo].[Tabla4] ([numero])
GO
ALTER TABLE [dbo].[Tabla3] CHECK CONSTRAINT [fk_Tabla3]
GO
ALTER TABLE [dbo].[Tabla1]  WITH CHECK ADD CHECK  (([numDeCasa]>=(1) AND [numDeCasa]<=(1000)))
GO
ALTER TABLE [dbo].[Tabla2]  WITH CHECK ADD CHECK  (([sistemaO]<=(50)))
GO
ALTER TABLE [dbo].[Tabla5]  WITH CHECK ADD CHECK  (([artista]<=(50)))
GO
USE [master]
GO
